.main-contact {
    background-image: url(../img/Banda.jpg);
    background-color: $background;
    background-repeat: no-repeat;
    background-position: center;
}

.sec-contacto {
    @include flex (center, none)
}

input,
textarea {
    margin: 15px;

}

.label-contacto {
    width: 173px;
    text-align: justify;
    color: #f5a459;
    font-weight: 600;
}

legend {
    text-align: center;
}

fieldset {
    background-color: #616060ab;
    margin-bottom: 10px;
    border-style: dashed;
    padding: 25px;
    border-radius: 15px;
}

.form__input {
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: #0d0c22;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);

    &:focus, &:hover {
        outline: none;
        padding: .2rem 1rem;
        border-radius: 1rem;
        border-color: #f5a459;
    }

    &::placeholder {
        color: rgb(231, 230, 230);
    }

    &:focus::placeholder {
        opacity: 0;
        transition: opacity .3s;
    }
}


.btn-contacto {
    @include flex (space-around, center);
}
