.main-contact {
    background-image: url(../img/Banda.jpg);
    background-color: $background;
    background-repeat: no-repeat;
    background-position: center;
}

.sec-contacto {
    @include flex (center, none)
}

input,
textarea {
    margin: 15px;

}

.label-contacto {
    width: 173px;
    text-align: justify;
    color: #f5a459;
    font-weight: 600;
}

legend {
    text-align: center;
}

fieldset {
    background-color: #616060ab;
    margin-bottom: 10px;
    border-style: dashed;
    padding: 25px;
    border-radius: 15px;
}

.form__input {
    background: rgba(11, 43, 112, 0);
    color: #fff;
    font-weight: 700;

    &::placeholder {
        color: rgb(241, 241, 241);
    }
}


.btn-contacto {
    @include flex (space-around, center);
}

