.container {
    width: 300px;

    .container-art {
        background: rgb(228, 228, 228);
        border: $primary solid 1px;
        border-radius: 15px;
        padding: 10px;
        box-shadow: 2px 5px #0000004d;
        display: inline-block;
        transition: all 1s;  
        
        &:hover{
            background-color:$primary;
            border: #f5a459 solid 2px; 
            color: #fff;  
        }
    }
    
    .container-p {
        margin-left: 20px;
    }
    
    .container-img {
        @include flex (center, center);
        width: 90%;
        padding: 20px;
        border-radius: 30px;
        transition: 1s;
        margin: auto;
        
        &:hover{
            transform: scale(1.2, 1.2);
        }
    }
}



